/* Palette: color: #EDEAE5;
color: #6B6E70;
color: #222629;
 color: #7EC012; */

body{
    margin: 0px;
    padding: 0px;
    background-color: #222629;
    color: #EDEAE5;
    
}
.product-img{
    width: 25vw;
    border-radius: 20px;
}
button{
    padding: 15px 35px;
    background-color: #7EC012;
    border-radius: 5px;
    color: #EDEAE5;
    border-color: #7EC012;
    border-style: none;
}
button:hover{
    background-color: #EDEAE5;
    color: #222629;
 
}
ul a{
    text-decoration: none;
    color:#EDEAE5;
}
/* -------- NAV + LOGO --------*/
.logo{
    width: 90px;
}
.nav-list{
    margin: 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav-container{
    border-bottom: 3px solid #EDEAE5;
    position: fixed;
    background-color: #222629;
    left: 0;      
    top: 0;       
    width: 100%; 
}
.nav-item{
 list-style: none;
 margin-left: 4rem;
 font-size: 1.2rem;
}
.nav-item:hover{
    text-decoration: underline;
}

.logo-container{
    margin-right: auto;
    display: flex;
    
}
.nav-item:last-child{
margin-right: 5%;
}
.logo-container h5{
    margin-left: 3%;
    font-size: 20px;
}

/* -------- HERO --------*/
.hero{
    background: url(../img/Hero.png) center/cover  no-repeat;
    height: 100vh;
    
}

/* Start default style for main */
.home-btn{
    margin: 5% 0 0 35%;
}
.product{
    margin: 8% 0;
}
.product li{
    line-height: 50px;
}

/* End default style for main */
/* -------- Heiderlberg product --------*/
.product-heidelberg{
    display: flex;
    justify-content: center;
}
.product-heidelberg ul{
    margin-left: 5%;
}
.heidelberg-info{
    margin-left: 3%;
}
.heidelberg-info h3{
    margin-left: 12%;
}

/* -------- Easee product --------*/

.product-Easee{
    display: flex;
    justify-content: center;
}
.Easee-info ul{
    padding: 0px;
}
.Easee-info{
    margin-right: 3%;
}

/* -------- Start FOOTER --------*/
.footer-container{
    padding: 5% 0;
    background-color: #6B6E70;
    display: flex;
    justify-content: space-around;
  
}
.footer-container img{
    width: 35px;
    
}
.footer-container ul{
    list-style: none;
    line-height: 50px;
    width: 25%;
}
.footer-container ul:first-child{
    padding-left: 10%;
    width: 5%;
}
.footer-container form{
    width: 45%;
}
.footer-container article{
    display: inline;
    padding-left: 2%;
}
footer article img{
    padding-top: 20px;
}

.footer-container input{
    border-style: none;
    border-radius: 5px;
    width: 45%;
    padding: 15px 0 15px 5px;
}

/* -------- Start Product main page --------*/
/* ---- Start MAIN  ---- */
.main-container{
    padding: 6% 0 0 10%;
    display: flex;
}
.main-container h3{
    padding-top: 3%;
}
.main-container p{
    width: 90%;
    line-height: 35px;
}
.basket-btn{
    margin: 0px 0px 4% 0px;
}
.rating-container{
    width: 60%;
    display: flex;
    justify-content: space-between;
}
textarea{
    width: 60%;
    padding-bottom: 8.5%;
    margin:1% 0 2% 0;
    border-radius: 5px;
}
textarea:focus{
    outline:none;
    border: 2px solid #7EC012;
    border-radius: 5px;
}
.main-container img{
    height: 90vh;
}
.main-container section:last-child{
    height:90vh; 
}