/* Palette: color: #EDEAE5;
color: #222629;
 color: #7EC012; */
body{
    margin: 0px;
    padding: 0px;
    background-color: #222629;
    color: #EDEAE5;
    
}
.product-img{
    width: 25vw;
    border-radius: 20px;
}
button{
    padding: 15px 35px;
    background-color: #7EC012;
    border-radius: 5px;
    color: #EDEAE5;
    border-color: #7EC012;
    border-style: none;
    margin-top:5%;
    margin-left: 35%;
}
button:hover{
    background-color: #EDEAE5;
    color: #222629;
 
}
/* -------- NAV + LOGO --------*/
.logo{
    width: 90px;
}
nav ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
ul{
    margin: 0px;
}
nav{
    border-bottom: 3px solid #EDEAE5;
    position: fixed;
    background-color: #222629;
    left: 0;      
    top: 0;       
    width: 100%; 
}
.nav-item{
 list-style: none;
 margin-left: 4rem;
 font-size: 1.2rem;
}
li a{
   text-decoration: none;
   color:#EDEAE5;
}

article{
    margin-right: auto;
    display: flex;
    
}
.nav-item:last-child{
margin-right: 5%;
}
article h5{
    margin-left: 3%;
    font-size: 20px;
}

/* -------- HERO --------*/
.hero{
    background: url(../img/Hero.png) center/cover  no-repeat;
    height: 100vh;
    
}

/* Start default style for main */
.product{
    margin: 8% 0;
}
.product li{
    line-height: 50px;
}

/* Ende default style for main */
/* -------- Heiderlberg product --------*/
.product-heidelberg{
    display: flex;
    justify-content: center;
}
.product-heidelberg ul{
    margin-left: 5%;
}
.heidelberg-info{
    margin-left: 3%;
}
.heidelberg-info h3{
    margin-left: 12%;
}

/* -------- Easee product --------*/

.product-Easee{
    display: flex;
    justify-content: center;
}
.Easee-info ul{
    padding: 0px;
}
.Easee-info{
    margin-right: 3%;
}